*{
    padding: 0;
    margin: 0;
}

/* LES VARIABLES */
:root{
    --main-bg-color: rgb(228, 211, 179);
    --main-h3-color: rgb(133, 100, 12);
    --main-h4-color: rgb(209, 11, 11);
    --main-section-margin-top: 4em;
    --main-section-height: 100%;
    --body-a-color: rgb(228, 125, 28);
    --main-titre-fm:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --main-p-fm: 'Times New Roman', Times, serif;
    --footer-bg-color: black;
}

/* LES ETOILES */

p svg{
    color: rgb(236, 184, 41);
}

/* LA RESPONSIVITE */

@media screen and (max-width: 375px){
    h3{
        font-size: 18px;
    }
    p{
        font-size: 10px;
    }
   
}
@media screen and (max-width: 768px){
    h3{
        font-size: 20px;
    }
}
@media screen and (min-width: 1200px){
    h3{
        font-size: 22px;
    }
}

/* LE BODY */

body{

    margin: 0;
    background-color: var(--main-bg-color);
    padding-top: 1px;
    width: 100%;
}   

/* MEME POLICE POUR TOUS LES TITRES */

body h1,h2,h3,h4,h5{
    font-family: var(--main-titre-fm);
}

/* MEME POLICE ET TAILLE POUR LES P  */

body p{
    font-family: var(--main-p-fm);
    font-size: 18px;
}

/* POUR GERER LA TAILLE DES P QUI SE TROUVE SOUS LE COMPTEUR */
.pp p{
    font-size: 25px;
}

/* LA TAILLE ET LA COULEUR DES COMPTEURS */

.counter{
    color: var(--main-h3-color);
    font-size: 40px;
}
.counter p{
        font-size: 40px;
    }

    /* LE NAVBAR */

header{
    width: 100%;
    margin: 0;
    position: fixed;
    padding: 0;
    margin-top: 0;
    z-index: 7;
}

/* CHANGEMENT DE STYLE AU SCROLL */
.navbar{
     transition: all 0.3s ease-in-out; 
     /* ANIME TOUS LES CHANGEMENTS DE STYLE EN 0.3S, AVEC UN DEMARRAGE ET UNE FIN EN DOUCEUR  */
}

/* POUR GERE LA TAILLE DU LOGO AFRITALENT */

.logo{
    width: 9vw;
}

/* APPLIQUER LA MEME HAUTEUR A TOUTES LES SECTIONS */

section{
    /* margin-top: var(--main-section-margin-top); */
    height: var(--main-section-height);
}

/* LA GESTION DU TOGGLE DARK MODE LIGHT MODE  */
#theme-toggle{
    width: 40px;
    cursor: pointer;
    background-color: aliceblue;
    margin-left: 20px;
    padding: 5px;
    border-radius: 50%;
}

/* la couleur de "rejoindre afritalent" */

.aa{
    color: black;
}

/* pour donner a toutes les a du html la meme couleurs */

body a{
    color: var(--body-a-color);

}

/* pour donner a toutes les h3 du html la meme couleur et de l'espace en haut et en bas */

body h3{
    color: var(--main-h3-color);
    margin-bottom: 2em;
    margin-top: 5em;
    
}

/* pour donner un effet survol et une legere ombre a la section categories  */

.cs:hover{
    transform: translateY(10px);
    box-shadow: 0 10px 20px rgb(87, 83, 83);
}

/* pour donner la meme couleur a toues les h4 du html */

body h4{
    color: #121212;
    text-align: center;
}

/* la position du h1 de la section hero */

.woo{
    margin-top: 150px;
    padding: 30px;
   text-align: center;
}

/* espace du haut pour la sections notre histoire */

.dd{
    margin-top: 200px;
}

/* pour gerer la taille carousel par rapports a la largeur  */

#carouselExampleAutoplaying{
    /* height: 10em; */
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
    margin-bottom: 5em;
}

/* pour gerer les images de chaque carte dans temmoignage */

.carousel img{
    margin: 0 auto;
    width: 7vw;
    /* margin-left: 170px;   */
    border: 2px solid  rgb(228, 125, 28) ;
    border-radius: 30px;
}

/* pour gere les h2 qui se trouve span */

span, h2{
    font-size: 25px;
}

/* pour gerer le bandeau avant le footer */

.ban{
    background-color: rgb(228, 125, 28) ;
    height: 25vh;
    width: 100%;
    
}

/* H5 du bandeau */
.ban h5{
    font-size: 29px;
   text-align: center;
}

/* p du bandeau */
.ban p{
   text-align: center;
    margin-top: 1em;
    font-size: 20px;
}

/* pour gerer tous les boutons du code html */

.btn{
    background-color:  rgb(209, 11, 11);
    color: black;
    font-size: 23px;
}

/* pour la getion unique du bouton prescription */

.bta{
    margin-top: 8px;   
    position: center;
}

/* gere le footer */

footer{
    background-color: var(--footer-bg-color);
    color: aliceblue;
    padding: 10px;
    width: 100%;

}

/* pour le gestion globale des div du footer */

.disp{
    display: flex;
    gap: 90px;
    margin-bottom: 2em;
}

/* pour gerer le bouton de filtrage*/

#free{
    width: 20vh;
    margin-top: 200px;
    margin-bottom: 60px;
    margin-left: 38em;
}

/* pour gerer tous les images du code html */

.img{
    height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

/* pour le h3 des tarifs */

.tata{
    margin-top: 200px;
}


/* pour gerer les div du formulaires */
.dop{
    margin-top: 100px;
    display: flex;
    gap: 150px;
    width: 100%;
    font-size: 15px;
}

/* les champs du formulaires de contact */

.iop input, .iop select, .iop textarea{
    width: 40vw;
    height: 10vh;
    border-radius: 10px;
}

/* les liens du footer */

.oa div,.oa p, .oa a{
    text-decoration: none;
}

/* la largeur du accodion du footer */
 
.oui{
    width: 60vw;
}

/* les cartes */

.card2{
   height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    padding: 3px;
}

/* nos valeurs */

.ouba{
    display: flex;
    gap: 50px;
    margin-top: 3em;
}

/* pour gerer l'emplacement du compteurs dans a propos */

.dora{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.dora h5{
    font-size: 30px;
    margin-top: 0;
}

/* 1er sections de a propos */

.dflex{
    display: flex;
    gap: 40px;
    
}

/* image du hero */

.imgn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* h2 section hero */

.you{
    font-family: var(--main-p-fm);
    font-size: 30px;
    /* color: rgb(41, 42, 43); */
    text-align: center;
}

/* les 2 boutons cta du section hero */

.yum{
   text-align: center;
}


.cent{
    text-align: center;

}

/* gerer les cartes */

.card{
    border-radius: 5%;
}

/* Style Bento grid*/

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    gap: 70px;
    width: 100%;
    border-radius: 50%;
    padding: 20px;
    margin: 0;
    align-items: start;
    margin: 0 auto;
}
.grid{
    border-radius: 25px;
    padding: 20px;
}
.grid1{
    /* height: 50%; */
    grid-column: span 2;
    grid-row: span 2;
}
.grid2{
    /* height: 20%; */
    grid-column: span 2;
    grid-row: span 1;
}
.grid3{
    /* height: 15%; */
    grid-column: span 1;
    grid-row: span 2;
}

.grid4{
    /* height: 20%; */
    grid-column: span 1;
    grid-row: span 1;
}
/* /* le bouton dark/light mode */ 
.dark-mode{
    background-color: #121212;
    color: white;
    
}
.dark-mode .carousel{
        border: 1px solid var(--body-a-color);
        border-radius: 10px;
        padding: 4px;
    }

.mmm{
    height: 95vh;
}
.dark-mode .woo, .dark-mode .you{
        color: rgb(230, 193, 126);
    }

/* SCROLL */
.navbar-scroll {
    background-color: white;
    box-shadow: 0 2px 10px rgb(0,0,0,0.2);
    padding: 5px 0;
}

/* le bouton back to top pour un retour en haut de la page  */

#backtotop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    background-color: #121212;
    color: white;
}

/* les sections qui apparaissent en fondues */
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

.fade-in.show{
    opacity: 1;
    transform: translateY(0);
}

/* signaler un erreur si les champs sont vide */

.error{
    color: #ff3333;
    display: block;
    font-size: 14px;
    /* margin-top: 5px; */
}

/* message enoyer avec succes dans le formulaires */

#successMessage{
    color: green;

}