*{
    padding: 0;
    margin: 0;
}
:root{
    --main-bg-color: rgb(228, 211, 179);
    --main-h3-color: rgb(133, 100, 12);
    --main-h4-color: rgb(209, 11, 11);
    --main-section-margin-top: 4em;
    --main-section-height: 100%;
    --body-a-color: rgb(228, 125, 28);
    --main-titre-fm:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --main-p-fm: 'Times New Roman', Times, serif;
    --footer-bg-color: black;
}

.container{
    background-color: var(--secondory-color);
}

p svg{
    color: rgb(236, 184, 41);
}

@media screen and(max-width: 375px){
    h3{
        font-size: 18px;
    }
    p{
        font-size: 10px;
    }
   
}
@media screen and(max-width: 768px){
    h3{
        font-size: 20px;
    }
}
@media screen and(min-width: 992px){
    h3{
        font-size: 22px;
    }
}



body{

    margin: 0;
    background-color: var(--main-bg-color);
    padding-top: 1px;
    width: 100%;
    
}   

body h1,h2,h3,h4,h5{
    font-family: var(--main-titre-fm);
}

body p{
    font-family: var(--main-p-fm);
    font-size: 18px;
}
.pp p{
    font-size: 25px;
}

.counter{
    color: var(--main-h3-color);
    font-size: 40px;
    p{
        font-size: 40px;
    }
}

header{
    width: 100%;
    margin: 0;
    position: fixed;
    padding: 0;
    margin-top: 0;
    z-index: 7;
}
.navbar{
     transition: all 0.3s ease-in-out;
}
.logo{
    width: 9vw;
}

section{
    /* margin-top: var(--main-section-margin-top); */
    height: var(--main-section-height);
}
#theme-toggle{
    width: 40px;
    cursor: pointer;
    background-color: aliceblue;
    margin-left: 20px;
    padding: 5px;
    border-radius: 50%;
}

.aa{
    color: black;
}
body a{
    color: var(--body-a-color);

}
body h3{
    color: var(--main-h3-color);
    margin-bottom: 2em;
    margin-top: 5em;
    
}
.cs:hover{
    transform: translateY(10px);
    box-shadow: 0 10px 20px rgb(87, 83, 83);
}

body h4{
    color: var(--main-h4-color);
}

.woo{
    margin-top: 150px;
    padding: 30px;
   text-align: center;
}

.dd{
    margin-top: 200px;
}

#carouselExampleAutoplaying{
    /* height: 10em; */
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
    margin-bottom: 5em;
}

.carousel img{
    margin: 0 auto;
    width: 7vw;
    /* margin-left: 170px;   */
    border: 2px solid  rgb(228, 125, 28) ;
    border-radius: 30px;
}
span, h2{
    font-size: 25px;
}

.ban{
    background-color: rgb(228, 125, 28) ;
    height: 20vhh;
    width: 100%;
    
}
.ban h5{
    font-size: 29px;
   text-align: center;
}
.ban p{
   text-align: center;
    margin-top: 1em;
    font-size: 20px;
}

.btn{
    background-color:  rgb(209, 11, 11);
    color: black;
    font-size: 23px;
}

.bta{
    margin-top: 8px;   
    position: center;
}

footer{
    background-color: var(--footer-bg-color);
    color: aliceblue;
    padding: 10px;
    width: 100%;

}

.disp{
    display: flex;
    gap: 90px;
    margin-bottom: 2em;
}

#free{
    width: 20vh;
    margin-top: 200px;
    margin-bottom: 60px;
    margin-left: 38em;
}

.img{
    height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.tata{
    margin-top: 200px;
}

.dop{
    margin-top: 100px;
    display: flex;
    gap: 150px;
    width: 100%;
    font-size: 15px;
}
.iop input,select,textarea{
    width: 40vw;
    height: 10vh;
    border-radius: 10px;
}

.oa div,p,a{
    text-decoration: none;
}
.oui{
    width: 60vw;
}

.card2{
   height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    padding: 3px;
}


.ouba{
    display: flex;
    gap: 50px;
    margin-top: 3em;
}
.dora{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.dora h5{
    font-size: 30px;
    margin-top: 0;
}
.dflex{
    display: flex;
    gap: 40px;
    
}
.imgn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.you{
    font-family: var(--main-p-fm);
    font-size: 30px;
    /* color: rgb(41, 42, 43); */
    text-align: center;
}
.yum{
   text-align: center;
}

.cent{
    text-align: center;

}
.card{
    border-radius: 5%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    gap: 70px;
    width: 100%;
    border-radius: 50%;
    padding: 20px;
    margin: 0;
    align-items: start;
    margin: 0 auto;
}
.grid{
    border-radius: 25px;
    padding: 20px;
}
.grid1{
    /* height: 50%; */
    grid-column: span 2;
    grid-row: span 2;
}
.grid2{
    /* height: 20%; */
    grid-column: span 2;
    grid-row: span 1;
}
.grid3{
    /* height: 15%; */
    grid-column: span 1;
    grid-row: span 2;
}

.grid4{
    /* height: 20%; */
    grid-column: span 1;
    grid-row: span 1;
}
/* le toggle */
.dark-mode{
    background-color: #121212;
    color: white;
    .carousel{
        border: 1px solid var(--body-a-color);
        border-radius: 10px;
        padding: 4px;
    }
    .woo{
        color: rgb(230, 193, 126);
    }
    .you{
        color: rgb(230, 193, 126);
    }
    
}

/* SCROLL */
.navbar-scroll {
    background-color: white;
    box-shadow: 0 2px 10px rgb(0,0,0,0.2);
    padding: 5px 0;
}
#backtotop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    background-color: #121212;
    color: white;
}
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

.fade-in.show{
    opacity: 1;
    transform: translateY(0);
}